<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Poppins Font  -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">

    <!-- Font-Awesome Reference -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />



    <link rel="stylesheet" href="styles.css">
    <title>Day 5 : Challenge 3</title>
</head>

<body>

    <!-- Navigation Bar -->
    <header>
        <nav class="nav container" id="navBar">
            <h1 class="logo">Stimuli<span class="dot">.</span></h1>

            <ul class="nav-links" id="navLinks">
                <li class="nav-item"><a href="#home">Home</a> </li>
                <li class="nav-item"><a href="#home">About</a> </li>
                <li class="nav-item"><a href="#home">Contact</a> </li>
                <li class="nav-item"><a href="#home">Sign in</a> </li>
                <li class="nav-item"><a class="nav-btn" href="#home">Sign up</a> </li>
            </ul>
            <li class="hamburger"><a class="ham-icon" id="ham" href="#home"><i id="hamInner"
                        class="fas fa-bars"></i></a></li>
        </nav>
    </header>

    <!-- Main Page -->
    <main class="main-page">
        <div class="container row landing-page">
            <div class="main-page--para">
                <h1>Responsive layouts don't have to be struggle</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius possimus, ab, illum quasi dolorum
                    eveniet
                    itaque fugiat necessitatibus aliquid molestiae placeat impedit voluptate iste illo eaque esse rerum
                    delectus earum!
                </p>
                <a href="#" class="btn">I want to learn</a>
            </div>

            <div class="main-page--img">
                <img src="https://images.pexels.com/photos/931018/pexels-photo-931018.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt="random" style="height:400px;width:400px">
            </div>
        </div>
    </main>

    <!-- Section 2 -->
    <section class="three-cols">
        <div class="row container section-2">
            <div class="col">
                <h2 class="head-underline">Cheap</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti maxime officia recusandae velit
                    deserunt culpa?</p>
            </div>
            <div class="col">
                <h2 class="head-underline">Quick</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti maxime officia recusandae velit
                    deserunt culpa?</p>
            </div>
            <div class="col">
                <h2 class="head-underline">Affordable</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti maxime officia recusandae velit
                    deserunt culpa?</p>
            </div>
        </div>
    </section>

    <!-- Section 3 -->
    <section class="two-cols">
        <div class="row container section-3">
            <div class="col">
                <h2>Cheap</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti maxime officia recusandae velit
                    deserunt culpa?</p>
            </div>
            <div class="col">
                <h2>Quick</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti maxime officia recusandae velit
                    deserunt culpa?</p>
            </div>
        </div>
    </section>

    <!-- Section 4 -->
    <section class="row container section-4">
        <div class="section-4--left">
            <h2 class="head-underline">Quality designs made custom, on demand, just for you</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, iste! Iure aliquam dolore sint, ut nisi
                provident dicta iusto ullam voluptatum voluptatibus quaerat minus! Perferendis commodi doloribus quas
                minus! Aliquam, cum quia cumque tempore numquam, dolorem vero et, nesciunt vel modi ex quis ut at in
                quos reprehenderit nisi illum?</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, iste! Iure aliquam dolore sint, ut nisi
                provident dicta iusto ullam voluptatum voluptatibus quaerat minus! Perferendis commodi doloribus quas
                minus! Aliquam, cum quia cumque tempore numquam, dolorem vero et, nesciunt vel modi ex quis ut at in
                quos reprehenderit nisi illum?</p>
        </div>

        <div class="row section-4--right">
            <div class="vertical">
                <h2>Cheap</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti maxime officia recusandae velit
                    deserunt culpa?</p>
            </div>
            <div class="vertical">
                <h2>Quick</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti maxime officia recusandae velit
                    deserunt culpa?</p>
            </div>
            <div class="vertical">
                <h2>Affordable</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti maxime officia recusandae velit
                    deserunt culpa?</p>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-content">
            <p>
                All rights reserved &copy; 2020
            </p>
        </div>
    </footer>

    <script src="script.js"></script>
</body>

</html>