*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    font-family:'Poppins',sans-serif;
    font-size:1.125rem;
}

/* !Nav Styles */
header{
    background-color: #00464b;
    padding:0.7em 0;
}
.logo{
    color: white;
    font-size: 2.5rem;
}
.dot{
    color: orange;
}
.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}
.nav-links{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    gap: 30px;
    height: 100%;
}
li{
    list-style-type: none;
}
.nav-item a {
    text-decoration: none;
    color: white;
}
.nav-btn {
    background-color: #ffffff;
    padding: 0.5em 1em;
    font-weight: 800;
    border-radius:100px;
    color: #136c72 !important;
}
.nav-btn:hover{
    opacity:.75;
}

.nav-item a:hover{
    color: orange;
}
.btn:hover{
    opacity:.75;
}

.fas{
    color: white;
    font-size:1.7rem;
}
.hamburger{   
    display:none;
}


/* !Main Page*/
.main-page{
    background-color: #136c72;
    color:white;
    padding:2em 0;
}
.main-page--para h1{
    font-size:2.5rem;
}
.main-page--para{
    width:50%
}

.main-page--img{    
    align-self:center;
}
.main-page--para p{
    margin:1.5em 0;
}
.btn{
    padding:0.6em;
    margin:1.2em 0;
    background-color:#ffa500;
    border-radius:20px;
    text-decoration: none;
    color:#fff;
    font-size:1.375rem;
    white-space: nowrap;
}


/* !General Styles */
.container{
    width:80%;
    max-width:1200px;
    margin:0 auto;
}
h2{
    font-size:32px;
}
p{
    /* Corresponds to 22px */
    font-size:1.375rem; 
}
img{
    max-width:100%;
}
.row{
display:flex;
justify-content:space-between;
/*!This is creating a gap  */
gap:30px;

}

/* !Section-2 */
.three-cols {
    padding:3em 0;
    text-align: center;
}
.head-underline{
    text-decoration: underline;
    text-decoration-color: #ffa500;
}

/* !Section 3 */
.two-cols{
    padding:3em 0;
    text-align: center;
    background-color:#136c72;
    color: #ffffff;
}

/* !Section 4 */
.section-4{
    padding: 3em 0;
}
.section-4--right{
    flex-direction:column;
    padding: 2em 0.5em;
    color: white;
    width:30%;
    text-align: center;
    background-color: #136c72;
}
.section-4--left{
    width:50%;
}

/* !Footer Styles */
footer{
    background-color: orange;
    color: white;
    font-size:1.2rem;
    text-transform: uppercase;
    padding:0.2em 0;
    text-align: center;
}



/* !Media Queries */
@media (max-width:780px){

    /* !General style */
    .row{
        flex-direction: column;
    }

    /* !Landing Page 
        To get image on top of the para in main-page */
    .landing-page{
        flex-direction: column-reverse;
    }
    .main-page--para{
        width:100%;
    }

    /* !Second Page and Third Page*/
    /* Since, we set column to row these gets changed. */
    
      
    /* !Fourth Page */
    .section-4--right,.section-4--left{
        width:100%;
    }

    /* !Nav-Styles */
    .nav-links{
        position: fixed;
        background-color: #136c72;
        top:0;
        left:0;
        width: 50%;
        flex-direction: column;
        transform: translateX(-100%);
        transition: all 1s ease-in-out;
    }
    .hamburger{
        display: block;
    }
    .nav-links.open{
        transform: translateX(0);
    }
    /* .logo{
        z-index:2;
    } */
  
}

@media (min-width:1800px){
    .logo{
        font-size:52px;
    }
    body{
        font-size:1.75rem;
    }
}